Package: epub-thumbnailer
Architecture: all
Maintainer: Livanh <livanh@bulletmail.org>
Depends: unzip, imagemagick
Priority: optional
Version: 0.2
Description: Thumbnailer for EPUB files 
 This script creates thumbnails for EPUB files in PCManFM and other file managers.

